<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- <header>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="/" class="header__link">Home</a>
          </li>
          <li class="header__item">
            <a href="/Contacts" class="header__link">Contacts</a>
          </li>
        </ul>
      </nav>
    </header> -->
    <%- include("./nav.ejs") %>
    <main>
      <h1>Application development in JavaScript</h1>
      <ol>
        <%for(let lesson of lessons) {%>
        <li id="<%=lesson.id%>" class="item">
          <a href="/lesson/<%=lesson.id%>"><%= lesson.name %></a>
        </li>
        <% } %>
      </ol>
    </main>
  </body>
</html>
