<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%-include("./nav.ejs") %>

    <main>
      <h2>About</h2>
      <p>
        Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
        voluptatibus maiores alias consequatur aut perferendis doloribus
        asperiores repellat. Mauris suscipit, ligula sit amet pharetra semper,
        nibh ante cursus purus, vel sagittis velit mauris vel metus. Phasellus
        enim erat, vestibulum vel, aliquam a, posuere eu, velit. Curabitur
        ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Mauris
        dictum facilisis augue. Aenean id metus id velit ullamcorper pulvinar.
      </p>
    </main>
  </body>
</html>
